* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

#threejs {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    max-width: 100vw;
    max-height: 100vh;
    min-width: 100vw;
    min-height: 100vh;
    /*background-color: #202020;*/
}

#menu {
    position: absolute;
    top: 0;
    right: -20vw;

    width: 20vw;
    min-width: 250px;
    height: 100vh;

    color: #aaa;
    background-color: #202020;

    transition: 500ms;
}

#menu-trigger {
    position: absolute;
    top: 0;
    right: 0;

    width: 2vmax;
    min-width: 25;
    height: 100vh;

    background-color: transparent;
}

#menu-trigger:hover ~ #menu, #menu:hover{
    right: 0;
    transition: 1s;
}